.App {
  text-align: center;
}

.entry-form {
    width: calc(100% - 60px);
    margin: 0.825rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.entry-form h4 {
    margin-top: 0;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input {
    max-width: 20rem;
    margin: auto;
    display: block;
}

button {
    height: 2.375rem;
    margin: 10px auto;
    padding: 0 2rem;
    background: rgba(255, 153, 0, 0.75);
    color: #fff;
    text-transform: uppercase;
    font: bold 1.125rem/2.111em sans-serif;
    border: 1px solid rgb(255, 200, 0);
    border-radius: 8px;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.5s linear;
}

button:hover {
    background: rgb(255, 136, 0)
}